<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PathToMonitor" value="C:\Users\mdamlica\Documents\Visual Studio 2017\Projects\UrbanSignalRMvc\UrbanSignalRMvc\Views\Home"/>
    <add key="TicketContent" value="C:\Users\mdamlica\Documents\Visual Studio 2017\Projects\DisplayService\DisplayService\bin\Debug\testing.txt"/>
    <add key="DisplayUrl" value="http://localhost:8080/"/>
    <add key="ErrorLog" value="C:\Users\mdamlica\Documents\My Web Sites\WebSite1\Views\Home\error.txt"/>
  </appSettings>
</configuration>
